[defaults]
inventory              = ansible/inventory
roles_path             = ansible/playbook:ansible/awx-deployment/awx_roles
host_key_checking      = False
retry_files_enabled    = False
stdout_callback        = yaml
timeout                = 30
deprecation_warnings   = False        # silences ANSIBLE_COLLECTIONS_PATHS warning
interpreter_python     = auto_silent  # silences Python discovery warning
collections_path       = ~/.ansible/collections:/usr/share/ansible/collections

[privilege_escalation]
become        = False         # ← was True — never set this globally
                              #   Play 3 sets become: true explicitly
                              #   Play 1, 2, 4 set become: false explicitly
                              #   global True overrides all of them
become_method = sudo